body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orangered;
}
.about{
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 2%;
    
}
.underline{
    text-decoration: none;
    border:orangered ;
    background-image: linear-gradient(orangered,red);
    color: white;
    border-radius:20px;
    padding: 10px 20px;
}
section{
    display: flex;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(red,orangered);
    padding: 10px 40px;
    color: rgb(241, 238, 238);
    font-weight: 700;
    border-radius:20px ;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.parafont{
    font-size: 17px;
}
.dreambig{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
